---
- name: Deploy Kong Custom Plugin (Multi-plugin safe)
  hosts: all
  become: true
  gather_facts: false

  vars:
    kong_plugin_dir: /usr/local/share/lua/5.1/kong/plugins
    kong_conf_file: /etc/kong/kong.conf

  tasks:

    - name: Validate plugin name
      fail:
        msg: "plugin_name is required"
      when: plugin_name is not defined or plugin_name | length == 0

    - name: Ensure plugin directory exists
      file:
        path: "{{ kong_plugin_dir }}/{{ plugin_name }}"
        state: directory
        owner: kong
        group: kong
        mode: '0755'

    - name: Copy plugin files to Kong
      copy:
        src: "../plugins/{{ plugin_name }}/"
        dest: "{{ kong_plugin_dir }}/{{ plugin_name }}/"
        owner: kong
        group: kong
        mode: '0644'

    - name: Verify handler.lua exists
      stat:
        path: "{{ kong_plugin_dir }}/{{ plugin_name }}/handler.lua"
      register: handler_check

    - name: Fail if handler.lua missing
      fail:
        msg: "handler.lua not found for plugin {{ plugin_name }}"
      when: not handler_check.stat.exists

    - name: Read existing plugins from kong.conf
      shell: "grep '^plugins=' {{ kong_conf_file }} || true"
      register: plugins_line
      changed_when: false

    - name: Build updated plugins list
      set_fact:
        updated_plugins: >-
          {{
            (
              (
                plugins_line.stdout
                | regex_replace('^plugins=\\s*', '')
                | default('bundled', true)
                | split(',')
              )
              + [plugin_name]
            )
            | unique
            | join(',')
          }}

    - name: Update plugins list in kong.conf (append, do not replace)
      lineinfile:
        path: "{{ kong_conf_file }}"
        regexp: '^plugins='
        line: "plugins = {{ updated_plugins }}"
        backup: yes

    - name: Restart Kong safely
      command: kong restart
